---
layout: default
---

<div class="main-content">
    <div class="bg-shape"></div>
    
    <section class="hero">
        <div class="intro">
            <p class="greeting">你好，我是</p>
            <h1 class="name">Yihuier</h1>
            
            <div class="social-icons">
                <a href="{{ site.social.github }}" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
        
        <div class="code-card">
            <div class="code-line">
                <span class="line-number">1</span>
                <span class="code-content"><span class="code-keyword">class</span> <span class="code-function">Person</span> {</span>
            </div>
            <div class="code-line">
                <span class="line-number">2</span>
                <span class="code-content">  <span class="code-function">constructor</span>() {</span>
            </div>
            <div class="code-line">
                <span class="line-number">3</span>
                <span class="code-content">    this.name = <span class="code-string">"Yihuier"</span>;</span>
            </div>
            <div class="code-line">
                <span class="line-number">6</span>
                <span class="code-content">  }</span>
            </div>
            <div class="code-line">
                <span class="line-number">7</span>
                <span class="code-content">}</span>
            </div>
        </div>
    </section>
</div> 